<div class="row">
  <div class="medium-3 columns">

    <%= form_for @user, url: {controller: "users", action: "create"}  do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
      <%= f.label :phone %>
      <%= f.text_field :phone, required: true, size: 9 %>

      <%= fields_for :booking, @booking do | b | %>
        <%= b.hidden_field 'room_id',value: @booking[:room_id] %>
        <%= b.hidden_field 'date_departure',value: @booking[:date_departure] %>
        <%= b.hidden_field 'date_arrival',value: @booking[:date_arrival] %>
        <%= b.hidden_field 'pax',value: @booking[:pax] %>
      <% end %>
      <%= f.submit 'Save'%>

    <%end%>
  </div>
</div>